.btndisable {
  opacity: 0.4;
  cursor: not-allowed !important;
}
.u-line-height-40 {
  line-height: 40px;
}
.u-margin-bottom-m {
  margin-bottom: 1.6rem;
}
.u-margin-bottom-xm {
  margin-bottom: 2.4rem;
}
.u-margin-bottom-l {
  margin-bottom: 3.2rem;
}
.u-margin-right-s {
  margin-right: 1.2rem;
}
.u-margin-right-xs {
  margin-right: 0.8rem !important;
}

.hidden {
  opacity: 0;
}

.active {
  display: flex !important;
}

.u-padding-tb {
  padding: 10rem 0 !important;
}
